<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

Some of the popular languages that Data Scientists use are:
    <ol>
        <li>python</li>
        <li>R</li>
        <li>julia</li>
        </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
        <li>TensorFlow.</li>
        <li>NumPy.</li>
        <li>Pandas</li>
        </ol>

<b>Objectives:</b>
<ul>List popular languages for Data Science
    <li>python</li>
    <li>R</li>
    <li>julia</li>
    </ul>

<table>Data Science Tools:
    <th>Data Science Tools</th>
    </table>

<p>SAS. It is one of those data science tools which are specifically designed for statistical operation</p>
Apache Spark<br>
BigML

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5
# Result: 17

17

This will convert 200 minutes to hours by diving by 60

In [8]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

<h2>Author</h2>

Nafiza banu R